*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.products1{
    padding: 30px 40px;
    width: 100%;
}

.products1 h2{
    font-size: 42px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 300;
    color: #010f1c;
}

.products1 p{
    color: #9a9a9a;
    margin-top: 10px;
}

.p-container1{
    margin-top: 20px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.p-filter1{
    padding: 20px 30px;
}

.p-categories h3{
    color: #010f1c;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
}

.p-categories ul{
    margin-top: 10px;
}

.p-categories ul li{
    list-style: none;
    margin-top: 20px;
    cursor: pointer;
    color: #010f1c;
}

.product-box1{
    margin-right: 0%;
    /* margin-left: 10%; */
}

.box-container1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box1{
    padding: 10px 20px;
    overflow: hidden;
    width: 300px;
    height: 350px;
    border: 1px solid #e2e0e0;
    margin-bottom: 15px;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 5px;
}

.box1:hover{
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
}

.img-box1{
    display: flex;
    justify-content: space-between;

}

.img-box1 img{
    width: 200px;
    height: 200px;
    margin-right: 50px;
}

.icon1{
    display: flex;
    flex-direction: column;
}

.icon1 li{
    display: none;
    list-style: none;
    font-size: 22px;
    padding: 2px;
    border-radius: 3px;
    color: #010f1c;
    transition: 0.5s;
}
.icon1 li:hover{
    background: #0989ff;
    color: #fff;
}

.box1:hover .icon1 li{
    display: block;
}

.detail1{
    margin-top: 10px;
}

.detail1 p{
    color: #9a9a9a;
    font-size: 14px;
}

.detail1 h3{
    font-size: 16px;
    margin-top: 5px;
    color: #010f1c;
    transition: 0.5s;
}

.box1:hover .detail1 h3{
    color: #0989ff;
}

.detail1 h4{
    color: #0989ff;
    margin-top: 15px;
    font-size: 14px;
    letter-spacing: 1px;
}

.product-detail2{
    margin-top: 20px;
    padding: 30px 40px;
    width: 100%;
    height: 120%;
    z-index: 1;
    background: rgba(0,0,0,0.24);
    margin-top: -10%;
    position: fixed;
}

.container2{
    background: #fff;
    width: 1000px;
    height: 550px;
    /* margin: 10% 0 0 10%; */
    margin-left: 13%;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.35) 0px 3px 8px;
}

.closeBtn{
    font-size: 22px;
    cursor: pointer;
    margin-left: 99%;
    border: none;
    outline: none;
    background: none;
}

.product-box2{
    max-width: 100%;
    display: flex;
    margin-top: 20px;
    padding: 20px 30px;
}

.img-box2{
    width: 400px;
    height: 400px;
    padding: 20px 30px;
    background: #f1f1f1;
}

.img-box2 img{
    height: 250px;
    width: 250px;
}

.product-box2 .detail{
    margin: 10px 0 0 30px;
}

.product-box2 .detail h4{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 200;
    color: #9a9a9a;
    letter-spacing: 1px;
    cursor: pointer;
}

.product-box2 .detail h2{
    margin-top: 20px;
    font-size: 32px;
    color: #010f1c;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.product-box2 .detail p{
    margin-top: 10px;
    color: #4a4a4a;
}

.product-box2 .detail h3{
    font-size: 32px;
    color: #010f1c;
    margin-top: 10px;
    letter-spacing: 1px;
}

.product-box2 .detail button{
    padding: 15px 40px;
    border: none;
    outline: none;
    background: #010f1c;
    font-size: 18px;
    border-radius: 7px;
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.product-box2 .detail button:hover{
    background: #0989ff;
}









